{% extends 'base.html' %}

{% block content %}


<div class="container">
   <h1 class="text-center logo my-4">
      {{ request.user.username }}'s Challenge
   </h1>
</div>

<div class="container">
    <div class="jumbotron">
        <div style="float:left;">
            <a class="month january" id="january" href="#" data-catid="{{ book.id }}">January</a>
            <a class="month february" id="february" href="#" data-catid="{{ book.id }}">February</a>
            <a class="month march" id="march" href="#" data-catid="{{ book.id }}">March</a>
            <a class="month april" id="april" href="#" data-catid="{{ book.id }}">April</a>
            <a class="month may" id="may" href="#" data-catid="{{ book.id }}">May</a>
            <a class="month june" id="june" href="#" data-catid="{{ book.id }}">June</a>
            <a class="month july" id="july" href="#" data-catid="{{ book.id }}">July</a>
            <a class="month august" id="august" href="#" data-catid="{{ book.id }}">August</a>
            <a class="month september" id="september" href="#" data-catid="{{ book.id }}">September</a>
            <a class="month october" id="october" href="#" data-catid="{{ book.id }}">October</a>
            <a class="month november" id="november" href="#" data-catid="{{ book.id }}">November</a>
            <a class="month december" id="december" href="#" data-catid="{{ book.id }}">December</a>
        </div>

        <br>
        <br>
   </div>
</div>

{% endblock %}