{% extends 'base.html' %}

{% block content %}


<div class="container">
   <h1 class="text-center logo my-4">
      {{ request.user.username }}'s Challenge
   </h1>
</div>

<div class="container">
    <div class="jumbotron">
        <div style="float:left;">
            <a class="month january" id="january" href="#" data-catid="{{ book.id }}">January</a>
            <a class="month february" id="february" href="#" data-catid="{{ book.id }}">February</a>
            <a class="month march" id="march" href="#" data-catid="{{ book.id }}">March</a>
            <a class="month april" id="april" href="#" data-catid="{{ book.id }}">April</a>
            <a class="month may" id="may" href="#" data-catid="{{ book.id }}">May</a>
            <a class="month june" id="june" href="#" data-catid="{{ book.id }}">June</a>
            <a class="month july" id="july" href="#" data-catid="{{ book.id }}">July</a>
            <a class="month august" id="august" href="#" data-catid="{{ book.id }}">August</a>
            <a class="month september" id="september" href="#" data-catid="{{ book.id }}">September</a>
            <a class="month october" id="october" href="#" data-catid="{{ book.id }}">October</a>
            <a class="month november" id="november" href="#" data-catid="{{ book.id }}">November</a>
            <a class="month december" id="december" href="#" data-catid="{{ book.id }}">December</a>
        </div>
        <br>
        <br>
   </div>
</div>

{% for book_position in users_book_positions %}
    {% for book in books %}
        {% ifequal book.title|stringformat:"s" book_position.book|stringformat:"s" %}
                <div class="card mb-2" style="margin-left:10%; margin-right:10%;" id="div{{ book.id }}">
                    <div class="card-body p-3">
                        <div class="row">

                            <div class="col-2">
                                <img src="{{ book.image }}" class="center">
                            </div>

                             <div class="col-10">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <p><strong class="text-dark">{{ book.title }}</strong></p>
                                            <small class="text-muted">{{ book.author }}</small>
                                            <br>
                                        </div>
                                        <div class="col-6" style="text-align:right;">
                                            <small class="text-muted">ID: {{ book.id }}</small>
                                            <br>
                                            <small class="text-muted">{{ book_position.status }} in {{ book_position.month }}</small>
                                        </div>
                                    </div>

                                <hr class="my-4">
                                {% if book.description == None %}
                                There is no description :(
                                {% else %}
                                {{ book.description }}
                                {% endif %}
                                <p>
                                <br>

                                 <form method="post" action="{% url 'users:info_book' %}">
                                    {%csrf_token%}
                                    <div type="text/css" class = "container"></div>
                                    <a class="addbutton btn btn-danger btn-lg" id="like{{ book.id }}" href="#" data-catid="{{ book.id }}">Delete</a>
                                    <input type="hidden"  name="id" value="{{ book.id }}">
                                    <button class="infobutton btn btn-secondary btn-lg" type="submit">Update</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

        {% endifequal %}
    {% endfor %}
{% endfor %}

{% endblock %}