{% extends 'base.html' %}

{% block content %}


<div class="container">
   <h1 class="text-center logo my-4">
      {{ request.user.username }}'s Challenge
   </h1>
</div>

<div class="container">
    <div class="jumbotron">
        <div style="float:left;">
            <a onclick="chooseMonth(this.id)" class="month january" id="january">January</a>
            <a onclick="chooseMonth(this.id)" class="month february" id="february">February</a>
            <a onclick="chooseMonth(this.id)" class="month march" id="march">March</a>
            <a onclick="chooseMonth(this.id)" class="month april" id="april">April</a>
            <a onclick="chooseMonth(this.id)" class="month may" id="may">May</a>
            <a onclick="chooseMonth(this.id)" class="month june" id="june">June</a>
            <a onclick="chooseMonth(this.id)" class="month july" id="july">July</a>
            <a onclick="chooseMonth(this.id)" class="month august" id="august">August</a>
            <a onclick="chooseMonth(this.id)" class="month september" id="september">September</a>
            <a onclick="chooseMonth(this.id)" class="month october" id="october">October</a>
            <a onclick="chooseMonth(this.id)" class="month november" id="november">November</a>
            <a onclick="chooseMonth(this.id)" class="month december" id="december">December</a>
        </div>
        <br>
        <br>
   </div>
</div>

{% for book_position in users_book_positions %}
    {% for book in books %}
        {% ifequal book.title|stringformat:"s" book_position.book|stringformat:"s" %}
                <div id="block" class="card mb-2" style="margin-left:10%; margin-right:10%;" id="div{{ book.id }}">
                    <div class="card-body p-3">
                        <div class="row">

                            <div class="col-2">
                                <img src="{{ book.image }}" class="center">
                            </div>

                             <div class="col-10">
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <p><strong class="text-dark">{{ book.title }}</strong></p>
                                            <small class="text-muted">{{ book.author }}</small>
                                            <br>
                                        </div>
                                        <div class="col-6" style="text-align:right;">
                                            <small class="text-muted">ID: {{ book.id }}</small>
                                            <br>
                                            <small class="text-muted">{{ book_position.status }} in</small>
                                            <small id="test" class=" {{ book_position.month|lower }}-text "> {{ book_position.month }} </small>
                                        </div>
                                    </div>

                                <hr class="my-4">
                                {% if book.description == None %}
                                There is no description :(
                                {% else %}
                                {{ book.description }}
                                {% endif %}
                                <p>
                                <br>

                                 <form method="post" action="{% url 'users:info_book' %}">
                                    {%csrf_token%}
                                    <div type="text/css" class = "container"></div>
                                    <a class="addbutton btn btn-danger btn-lg" id="like{{ book.id }}" href="#" data-catid="{{ book.id }}">Delete</a>
                                    <input type="hidden"  name="id" value="{{ book.id }}">
                                    <button class="infobutton btn btn-secondary btn-lg" type="submit">Update</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

        {% endifequal %}
    {% endfor %}
{% endfor %}

<script src="/static/js/choose_month_script.js"></script>

{% endblock %}