{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">

   <h1 class="text-center logo my-4">
      Book's Info
   </h1>


    <div class="card mb-2" style="margin-left:5%; margin-right:10%;">
        <div class="card-body p-3" >
            <div class="row">

                <div class="col-4" style="margin-top:15%;">
                    <img src="{{ book.image }}" class="center">
                </div>

                <div class="col-6">
                        <p class="lead">Id: {{ book.id }}</p>
                    <hr class="my-4">
                        <p class="lead">Title: {{ book.title }}</p>
                    <hr class="my-4">
                        <p class="lead">Author: {{ book.author }}</p>
                    <hr class="my-4">
                        <p class="lead">Genre: {{ book.genre_1 }}</p>
                    <hr class="my-4">
                        <p class="lead">Reader: {{ book_position.user }}</p>
                    <hr class="my-4">
                        <p class="lead">Month of reading: {{ book_position.month }}</p>
                    <hr class="my-4">
                        <p class="lead">Year of reading: {{ book_position.year }}</p>
                    <hr class="my-4">
                        <p class="lead">Status: {{ book_position.status }}</p>
                    <hr class="my-4">
                        <a class="btn btn-primary btn-lg" href="{% url 'users:update_book' %}" role="button">Update</a>
                        <a class="btn btn-secondary btn-lg" href="{% url 'users:review_book' %}">Review</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>


{% if book_position.review %}
<div id="review" class="container">

   <h1 class="text-center logo my-4">
      Review section
   </h1>

    <div class="card mb-2" style="margin-left:5%; margin-right:10%;">
        <div class="card-body p-3" >
            <div class="row">
                <div class="col-6">
                    <p class="lead">{{ request.user|title }}'s review: {{ book_position.review }}</p>
                    <hr class="my-4">

                    <div type="text/css" class = "container"></div>
                    <a class="deletebutton btn btn-danger btn-lg" id="delete{{ book.id }}" style="color: white;" data-catid="{{ book.id }}">Delete</a>
                    </p><p id="message{{book.id}}"></p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script src="/static/js/delete_review_script.js"></script>

{% endblock %}
