{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} | {{ request.user.username | title }}'s Stats{% endblock %}

{% block content %}

<h1 class="text-center logo my-4">
    {{ request.user|title }}'s Stats
</h1>


<div class="container">
    <div class="jumbotron">
        <table class="table">
            <tbody>

            {% for key, value in stats.items %}
                <tr>
                    <th scope="row">{{ key }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>


{% endblock %}